{% extends 'base.html.twig' %}

{% block body %}
    {% for league in leagues %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ league.name }}</h1>
        </div>

        <div class="row">
            {# Classement #}
            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Classement</h6>
                    </div>
                    <div class="card-body">
                        {% for team in league.ranking %}
                            <h4 class="small font-weight-bold">
                                <a href="{{ url('app_team_show', {
                                    league: league.name|slug,
                                    team: team.name|slug
                                }) }}">
                                    {{ loop.index }}. {{ team.name }} <span class="float-right">{{ team.nbPoints }}</span>
                                </a>
                            </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Résultats de la journée #}
            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Résultats de la journée</h6>
                    </div>
                    <div class="card-body">
                        {% for game in league.lastGames %}
                            <h4 class="small font-weight-bold">
                                {{ game.homeTeamName }} {{ game.homeTeamScore }} - {{ game.awayTeamScore }} {{ game.awayTeamName }}
                            </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Prochains matchs #}
            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Prochains matchs</h6>
                    </div>
                    <div class="card-body">
                        {% for game in league.nextGames %}
                            <h4 class="small font-weight-bold">
                                <a href="{{ url('app_game_index', {
                                    awayTeam: game.awayTeamName|slug,
                                    homeTeam: game.homeTeamName|slug,
                                    league: league.name|slug
                                }) }}">
                                    {{ game.homeTeamName }} - {{ game.awayTeamName }}
                                </a>
                            </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Nombre de matchs nuls #}
            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre matchs sans match nul</h6>
                    </div>
                    <div class="card-body">
                        {% for teamRanking in league.gameWithoutNulRanking|sort((a, b) => b.nbPoints <=> a.nbPoints) if teamRanking.nbPoints > 8 %}
                            {% set percentage = (teamRanking.nbPoints * 100) / 20  %}
                            <h4 class="small font-weight-bold">{{ teamRanking.name }} <span class="float-right">{{ teamRanking.nbPoints }}</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
